.sidebar {
  position: fixed; /* AQUI */
  bottom: 0;
  right: 0;
  background-color: #31363b;
  height: 100dvh;
  width: 30vw;
  min-width: 300px;
  color: #fffff8;
  padding: 40px;

  animation: slideLeft 0.5s ease forwards;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100vw;
    max-width: 750px;
    border-radius: 10px 10px 0 0;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 0px !important;

    animation: fadeToTop 0.5s ease forwards;
  }
}
